* {
    margin: 0;
    padding: 0;
    font-family: 'Barlow Condensed', sans-serif;

}

.desktopCabecera {
    display: flex;

    align-items: center;
    justify-content: space-evenly;
    /* position: fixed;
    z-index: 100; */
    width: 100%;
    text-transform: uppercase;
    background-color: black;
    height: 96px;
    font-family: 'Barlow Condensed', sans-serif;
}

.desktopCabecera nav ul {
    width: 90%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between
}

.desktopCabecera nav ul li {
    list-style: none;
    padding-left: 40px;
}

.desktopCabecera nav ul li a:hover {
    background-color: red;
    padding: 10px;
}

.desktopCabecera nav ul li .desktopCabecera__opcion-marcada {
    margin: auto;
    background-color: orangered;
    padding: 10px;
}

.desktopCabecera a {
    scale: 0.45;
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.desktopCabecera form {
    display: flex;
}

.desktopCabecera .desktopCabecera__buscarContenedor {
    padding-left: 100px;
}
#botonBusqueda{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    padding-left: 10px;
    
}

.desktopCabecera .desktopCabecera__buscarContenedor .desktopCabecera__buscar {
    font-size: 21px;
    border-radius: 15px;
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
    height: 40.70px;
}

.desktopCabecera div .desktopCabecera__carrito {
    padding: 0 125px;
    padding-right: 50px;
    font-size: 25px;
}

.main__container {

    display: grid;
    grid-template-columns: 15% 85%;
}

.productosContainer__barraIzquierda {
    grid-column: 1;
    padding-top: 50px;
    padding-left: 20px;
    background-color: beige;
}

.productosContainer__barraIzquierda ul {
    list-style: none;
    line-height: 40px;
    font-size: 20px;
}

.contenedorProductos {
    grid-column: 2;
}










.contenedorProductos {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    padding: 50px 10px 40px 10px;
}

.contenedorCadaProducto {
    /* display: flex;
    flex-direction: column;
    width: 300px;
    text-align: center; */
    display: grid;
    grid-template-rows: 50% 20% 10% 20%;
    width: 300px;
    height: 600px;
    border: 1px #d3d3d3 solid;
    text-align: center;
    margin-top: 20px;
    text-align: center;
}

.contenedorCadaProducto h2 {
    font-size: 25px;
    margin: 0;
    grid-row: 2;
    text-transform: uppercase;
}

.contenedorCadaProducto h3 {
    font-size: 20px;
    color: red;
    margin: auto;
    grid-row: 3;
}

.productosContainer__productos--boton {
    justify-content: center;
    grid-row: 4;
    margin: auto;
}

.productos__containerBoton{
    margin: auto;
}


.contenedorCadaProducto button {
    font-size: 20px;
    padding: 16px;
    color: white;
    background-color: orangered;
    border-radius: 15px;
    border: 0px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;
    border-color: orangered;
    
}
.contenedorCadaProducto button:hover{
    opacity: .8;
}
.imagenesCatalogo {
    width: 200px;
    margin: auto;

}

/* Barra izquierda */

.menuFiltrado_container{
    padding: 5px 50px;
}
.menuFiltrado_opciones{
    cursor: pointer;
}
.categoriasFiltrado{
    background-color: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
}
.categoriasFiltrado:hover{
    opacity: .7;
}