* {
    margin: 0;
    padding: 0;
    font-family: 'Barlow Condensed', sans-serif;

}

.desktopCabecera {
    display: flex;

    align-items: center;
    justify-content: space-evenly;
    /* position: fixed;
    z-index: 100; */
    width: 100%;
    text-transform: uppercase;
    background-color: black;
    height: 96px;
    font-family: 'Barlow Condensed', sans-serif;
}

.desktopCabecera nav ul {
    width: 90%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between
}

.desktopCabecera nav ul li {
    list-style: none;
    padding-left: 40px;
}

.desktopCabecera nav ul li a:hover {
    background-color: red;
    padding: 10px;
}

.desktopCabecera nav ul li .desktopCabecera__opcion-marcada {
    margin: auto;
    background-color: orangered;
    padding: 10px;
}

.desktopCabecera a {
    scale: 0.45;
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.desktopCabecera form {
    display: flex;
}

.desktopCabecera .desktopCabecera__buscarContenedor {
    padding-left: 100px;
}

#botonBusqueda {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    padding-left: 10px;
    cursor: pointer;

}

.desktopCabecera .desktopCabecera__buscarContenedor .desktopCabecera__buscar {
    font-size: 21px;
    border-radius: 15px;
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
    height: 40.70px;
}

.desktopCabecera__carrito {
    padding: 0px;
    padding-right: 0px;
    font-size: 25px;
    
    display: flex;
}

.desktopCabecera__carrito i {
    font-size: 50px;
}

.contenedorCarritoCantidad {
    display: flex;
}

.circuloProductosEnCarrito {
    margin-top: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    position: absolute;
    left: 50px;
    top: 10px;
}

.productosEnCarrito {
    color: white;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.main__container {
    /* height: 100vh; */
    display: grid;
    grid-template-columns: 15% 85%;
    z-index: 10;

}

.productosContainer__barraIzquierda {
    grid-column: 1;
    padding-top: 50px;
    padding-left: 20px;
    background-color: beige;
}

.productosContainer__barraIzquierda ul {
    list-style: none;
    line-height: 40px;
    font-size: 20px;
}

.contenedorProductos {
    grid-column: 2;
}


.contenedorProductos {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-evenly;
    padding: 50px 0px 40px 10px;
    margin: auto;

}

.contenedorProductosFiltrados {
    display: flex;
    flex-direction: column;
}

.contenedorCadaProducto {
    /* display: flex;
    flex-direction: column;
    width: 300px;
    text-align: center; */
    display: grid;
    grid-template-rows: 50% 20% 10% 20%;
    width: 300px;
    height: 600px;
    border: 1px #d3d3d3 solid;
    text-align: center;
    margin-top: 20px;
    text-align: center;
}

.contenedorCadaProducto h2 {
    font-size: 25px;
    margin: 0;
    grid-row: 2;
    text-transform: uppercase;
}

.contenedorCadaProducto h3 {
    font-size: 20px;
    color: red;
    margin: auto;
    grid-row: 3;
}

.productosContainer__productos--boton {
    justify-content: center;
    grid-row: 4;
    margin: auto;
}

.productos__containerBoton {
    margin: auto;
}


.contenedorCadaProducto button {
    font-size: 20px;
    padding: 16px;
    color: white;
    background-color: orangered;
    border-radius: 15px;
    border: 0px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;
    border-color: orangered;

}

.contenedorCadaProducto button:hover {
    opacity: .8;
}

.imagenesCatalogo {
    width: 200px;
    margin: auto;

}

/* Barra izquierda */

.menuFiltrado_container {
    padding: 25px 30px;
    display: flex;
    flex-direction: column;
    line-height: 100px;

}

.menuFiltrado_opciones {
    cursor: pointer;
}

.categoriasFiltrado {
    background-color: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
    padding-top: 20px;
    text-align: left;
}

.categoriasFiltrado:hover {
    opacity: .7;
}

/* Pagina no encontrada */

.contenedorPaginaNoEncontrada {
    display: flex;
    flex-direction: column;
    padding: 0;
    height: 100vh;
    text-align: center;


}

.contenedorPaginaNoEncontrada img {
    width: 400px;
}

.contenedorPaginaNoEncontrada button {
    font-size: 20px;
    padding: 16px;
    color: white;
    background-color: orangered;
    border-radius: 15px;
    border: 0px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;
    border-color: orangered;
    width: 100px;
    margin: auto;
    margin-top: 20px;

}

.contenedorPaginaNoEncontrada button:hover {
    opacity: .8;
}

.contenedorPaginaNoEncontrada h2 {
    font-size: 25px;
    margin: 0;
    text-transform: uppercase;
    padding-top: 20px;
}



.pantallaCarritoClass {
    position: fixed;
    /*  top: 120px; */
    left: 0;
    width: 500px;
    height: calc(100% - 200px);
    margin-left: 40%;
    text-align: center;
    background-color: wheat;
    display: flex;
    flex-direction: column;
    padding: 0px 0;
    z-index: 100;
    overflow-y: scroll;
    align-items: center;




}

.pantallaCarrito div {
    margin: auto;

}

.pantallaCarritoTitulo {
    padding-top: 30px;

}

.oculto {
    display: none;
}

.elementoDelCarrito,
#encabezadoCarrito {
    display: flex;
    justify-content: center;
    align-items: center;
}

.descripcionProductosCarrito {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.botonFinalizarCompra__contenedor {
    padding-bottom: 30px;
}

.botonFinalizarCompra {
    font-size: 18px;
    padding: 16px;
    color: white;
    background-color: orangered;
    border-radius: 15px;
    border: 0px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;
    border-color: orangered;
    width: fit-content;
    margin: auto;
    margin-top: 20px;
}


.contenedorDescripcionProductosCarrito {
    display: flex;
}

.contenedorEliminarProductosCarrito {
    margin: auto;
    padding-left: 30px;
    font-size: 25px;
    cursor: pointer;
}

.cortina {
    -webkit-animation: fadein .2s;
    animation: fadein .2s;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
    opacity: .2;

    top: 0;
    bottom: 0;
    background: #ccc
}

.textoTotalAPagar {
    font-size: 20px;
    text-transform: uppercase;
}

.XParaCerrar {
    text-align: right;
    font-size: 30px;
    padding-right: 20px;
    padding-top: 10px;
    cursor: pointer;
}

.tituloCarritoVacio {
    padding-top: 90%;
}